//HEADER
.site-header {
	position: relative;
	font-family: $font__sans;
	color: #000;
	background-color: $color__skin;
/*	
	@include above(small){
		padding: 1em 2em;
	}*/


	&__top {
		min-height: 5vh;
		background-color:#F1F1F1;
        //margin: 0 auto;
		p {
			margin: 0;
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline;
	}

	&__link {
		text-decoration: none;
	}

	&__bottom {
		width: 80%;
		//background-color: gray;
		margin: 0 auto;
	}


}

.site-branding {
	min-height: 18vh;
}
 
.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
	
	a {
		color: #000;
		text-decoration: none;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}

// float the navigation
@include above(key1){

	.site-header__bottom {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 35%;
	}

	.site-navigation {
		width: 55%;
	}
}


