//HEADER
.site-header {
	position: relative;
	font-family: $font__sans;
	color: #000;
	background-color: $color__skin;

/*	
	@include above(small){
		padding: 1em 2em;
	}*/


	&__top {
	
		min-height: 5vh;
		background-color:#F1F1F1;

		.container {
			padding-top: 1rem;
			display: flex;
			justify-content: space-between;
		}
	}

	&__icon {		
		margin-right: .5rem;
		height: 2.4rem;

		svg {
			width: 2.4rem;
			height: 2.4rem;
		}

		
	}

	&__list {
		list-style: none;
		margin: 0;
	}

	&__item {
		display: inline-block;
		//margin-left: 1rem;
		font-size: 1.6rem;
		
	}

	&__link,
	&__link:visited {
		display: inline-block;
		text-decoration: none;
		display: flex;
		align-items:center;
		color: #919191;
	}

	&__link:hover {
		color: $color__link-hover;
	}

}


.site-branding {
	min-height: 18vh;
}
 
.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
	
	a {
		color: #000;
		text-decoration: none;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}


@include above(key1){

	.site-header__bottom {

		.container{
			display: flex;
			justify-content: space-between;
		}
		
	}

	.site-branding {
		width: 25%;
	}

	.site-navigation {
		width: 35%;
	}
}
