$size__site-main: 100%;
$size__site-sidebar: 25%;


//BREAKPOINTS
//600px / 16px = 37.5
$query__small: 37.5em;
//900px / 16px = 56.25
$query__medium: 56.25em;
//1210px /16px = 75.63
$query__key1: 75.63em;
